@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("https://fonts.googleapis.com/css2?family=Bellefair&family=Dosis"); 

body { 
 	font-family: 'Bellefair', serif;
	font-size: 20px; 
	margin: 30px;
 }
	
h1, h2, h3 {
	font-family: 'Dosis', sans-serif;
	font-weight: bold;
	font-size: 28px;
	margin: 20px
} 

a {
	text-decoration: none;}

 a:hover {
 	background: #144A82; 
 }
 
 p { 
 	font-family: 'Bellefair', serif;
	font-weight: 20px;
	margin: 10px;
 }

 .btn-blue { 
margin-left: 100px;
  }

